.app-header {
  margin-top: 3px;
  width: 100%;
  height: 100px;
  box-shadow: 2px 4px 4px 4px grey;
  background: thistle;
}

#submit {
  float: right;
  font-weight: bolder;
  margin: 30px 5px 5px 90px;
  border-radius: 5px;
  padding: 8px;
}
